/* Variables added for easier theming */

:root {
    --light-bg: #f4f4f4;
    --medium-bg: #e6e6e6;
    --dark-bg: #35424a;
    --light-fg: #fff;
    --accent-one: #e8491d;
    --accent-two: #ccc;
}


/* Changes to Global section:
1. Moved padding and margin to * to style every element.
2. Removed font-size:15px since the default is 16px.
3. Removed styling from all <a> and <li>. */


/* Global */

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    background-color: var(--light-bg);
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.button_1 {
    height: 38px;
    background: var(--accent-one);
    border: 0;
    padding: 0 20px;
    color: var(--light-fg);
}

.dark {
    padding: 15px;
    background: var(--dark-bg);
    color: var(--light-fg);
    margin: 10px 0;
}

.page-title {
    font-size: 1.25rem;
    margin: 20px 0;
}


/* Changes for "header" section:
1. Combined .current and .highlight becasue they were the same.
2. Styled the current page <a> directly instead of <li> <a>.
3. Removed <header> from #branding, since there is only one #branding.
4. Changed #branding font-size to rem. There is a slight size difference but it's a little more dynamic.
5. Removed text-transform and just capitalized the HTML.
6. Reordered to go from generic to specific (This was done for other sections too). */


/* Header */

header {
    background: var(--dark-bg);
    color: var(--light-fg);
    padding-top: 30px;
    min-height: 70px;
    border-bottom: var(--accent-one) 3px solid;
}

header a {
    color: var(--light-fg);
}

header a:hover {
    color: var(--accent-two);
    font-weight: bold;
}

header li {
    padding: 0 20px;
}

header nav {
    margin-top: 10px;
}

.highlight {
    color: var(--accent-one);
    font-weight: bold;
}

#branding {
    font-size: 2rem;
    font-weight: bold;
}


/* Changes for "showcase" section:
1. Changed font-sizes to rem to be slightly more dynamic.
2. Since I removed all padding and margins, I had to add it back to this <p>. */


/* Showcase */

#showcase {
    min-height: 400px;
    background: url('../img/showcase.jpg') no-repeat 0 -400px;
    text-align: center;
    color: var(--light-fg);
}

#showcase h1 {
    margin: 100px 0 10px 0;
    font-size: 3.44rem;
}

#showcase p {
    font-size: 1.25rem;
    margin: 20px 0;
}


/* Changes for "Newsletter" section:
1. Changed <h1> to <h2> to match HTML changes.
2 The styling for <h2> is no longer needed.
3. Added more margin to the <h2> to better match the original site.
4. Hid the text for the label */


/* Newsletter */

#newsletter {
    padding: 15px;
    color: var(--light-fg);
    background: var(--dark-bg)
}

#newsletter h2 {
    margin: 19px 0;
}

#newsletter form {
    margin-top: 15px;
}

#newsletter input[type="email"] {
    padding: 4px;
    height: 25px;
    width: 250px;
}

#newsletter label {
    /* visibility: hidden; */
    display: none;
}


/* Changes for "Boxes" section:
1. Changed unnecessary ID Class to just Class. */


/* Boxes */

.box {
    /* float: left; */
    text-align: center;
    width: 30%;
    padding: 10px;
}

.box img {
    width: 90px;
}

#boxes {
    margin-top: 20px;
}


/* Changes for "Sidebar" section:
1. Changed unnecessary ID Class to just Class.
2. Gave .quote a more descriptive name
3. Consolidated the quote form styling. */


/* Sidebar */

.quote-data {
    width: 90%;
    padding: 5px;
}

#sidebar {
    width: 30%;
    margin-top: 10px;
}

#sidebar p,
#services p {
    margin: 15px 0;
}

#sidebar h3,
#services h3 {
    margin: 18px 0;
}


/* Changes for "Main-col" section:
1. Changed unnecessary Tag ID to just ID. */


/* Main-col */

#main-col {
    width: 65%;
}


/* Changes for "Services" section:
1. Changed unnecessary naming. */


/* Services */

#services li {
    padding: 20px;
    border: var(--accent-two) solid 1px;
    margin-bottom: 5px;
    background: var(--medium-bg);
}


/* Footer */

footer {
    padding: 20px;
    margin-top: 20px;
    color: var(--light-fg);
    background-color: var(--accent-one);
    text-align: center;
}


/* Media Queries */

@media(max-width: 768px) {
    .flex {
        flex-flow: column;
        align-items: center;
        /* justify-content: space-evenly; */
    }
    /* #nav-list {
        flex-flow: initial;
    }
    #newsletter form,
    input,
    button {
        width: 100%;
    } */
    /* .container {
        display: block;
    } */
}


/* @media(max-width: 768px) {
    header #branding,
    header nav,
    header nav li,
    #newsletter h1,
    #newsletter form,
    #boxes .box,
    article#main-col,
    aside#sidebar {
        float: none;
        text-align: center;
        width: 100%;
    }
    header {
        padding-bottom: 20px;
    }
    #showcase h1 {
        margin-top: 40px;
    }
    #newsletter button,
    .quote button {
        display: block;
        width: 100%;
    }
    #newsletter form input[type="email"],
    .quote input,
    .quote textarea {
        width: 100%;
        margin-bottom: 5px;
    }
} */