body {
    width: 1280px;
    height: 720px;
}

#blackOutside {
    background: black;
    border: solid 1px;
    width: 1024px;
    height: 576px;
    position: absolute;
    top: 72px;
    margin-left: 128px;
}

#blueMiddle {
    background: blue;
    border: solid 1px;
    width: 648px;
    height: 383px;
    position: absolute;
    margin-top: 168.5px;
    margin-left: 316px;
}

#orangeInside {
    background: orange;
    border: solid 1px;
    width: 276px;
    height: 276px;
    position: absolute;
    margin-top: 222px;
    margin-left: 502px;
}