body {
    width: 1280px;
    height: 720px;
}

.container {
    position: absolute;
    top: 180px;
    left: 320px;
    height: 360px;
    width: 640px;

}

#blackBox {
    height: 684px;
    width: 1216px;
    margin: 18px 32px;
    background: black;
    border: solid black 1px;

}

#orangeBox {
    height: 100%;
    width: 50%;
    background: orange;
    border: solid black 1px;
    float: left;
    box-sizing: border-box;
}
#greenBox {
    height: 100%;
    width: 50%;
    background: green;
    border: solid black 1px;
    float: right;
    box-sizing: border-box;
}