/*@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

/* Adding some variable for modularity */
:root {
    --dark: #282a36;
    --normal: #ddd;
    --light: #eee;
    --highlight: #50fa7b;
    --highlight-alt: #8be9fd;
    --accent: #bd93f9;
    --orange: #ffb86c;
    --pink: #ff79c6;
    --red: #ff5555;
    --yellow: #f1fa8c;
}

/* Removing some defaults because this seems to make things easier */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* This is general styling that affects basically the whole page */
body {
    font-family: 'Ubuntu', monospace;
    line-height: 1.5;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    width: 100%;
}

/* Header Styling */
#header {
    align-items: center;
    padding: 10px 50px;
}

#header a:hover {
    color: var(--highlight);
}

#header li {
    margin-left: 15px;
}

#header img {
    width: 50px;
}

/* Footer Styling */
#footer {
    /*align-items: center;*/
    padding: 10px 50px;
}

/* Product Showcase Styling */
#showcase {
    padding: 50px 50px 80px 50px;
    grid-template-columns: repeat(4, 1fr);
}

#showcase div {
    border-radius: 10px;
}

#showcase i {
    padding: 0 12px 20px 0;
}

#showcase p {
    padding-bottom: 20px;
}

#showcase-motto {
    grid-column: span 4;
}

#showcase-motto h3 {
    font-weight: normal;
    padding-bottom: 25px;
}

#showcase-main-panel {
    grid-area: span 2 / span 3;
    height: 600px;
    background: url("../images/remote.svg") center;
    background-size: cover;
}

#showcase-platforms {
    padding: 80px 400px 80px 50px;
}

#showcase-platforms p {
    padding-bottom: 20px;
}

#showcase-platforms a:hover {
    text-decoration: underline;
}

#showcase-platforms ul {
    justify-content: flex-start;
}

#showcase-platforms li {
    margin: 20px 12px 10px 0;
    justify-self: flex-end;
}

/* News Styling */
#news {
    padding: 80px 50px 70px 50px;
}

#news h2 {
    padding-bottom: 30px;
}

.news-stories {
    width: 33%;
}

.news-stories h3 {
    padding: 10px 0 10px 0;
}

.news-stories p {
    padding-bottom: 20px;
}

/*User-card Styling */
#user-card {
    margin: 0 50px -367px 50px;
    background: var(--accent);
    position: relative;
    top: -185px;
}

.user-card-text {
    padding-right: 100px;
    align-self: center;
}

#user-card img {
    width: 550px;
}

#user-card div p:nth-child(2) {
    font-weight: bold;
    padding-top: 40px;
}

#user-card-controls {
    padding: 200px 50px 40px 50px;
}

#user-card-controls a, button {
    border: 1px solid var(--dark);
}

/* Companies Styling */

#companies {
    padding: 0 50px 70px 50px;
}

#companies div {
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
}

#companies img {
    width: 120px;
}

/* Testimonial Styling */
#testimonial {
    padding: 0 50px 75px 50px;
}

#testimonial a {
    border: 1px solid var(--dark);
}

#testimonial h2 {
    padding-bottom: 20px;
}

#testimonial p {
    padding-bottom: 20px;
}

#testimonial-cards {
    flex-wrap: nowrap;
    padding-bottom: 30px;
}

#testimonial-cards article {
    border: 1px solid var(--accent);
    width: 30%;
}

#testimonial-cards article h4 {
    padding: 25px 25px 15px 25px;
}

#testimonial-cards article p {
    padding: 0 25px 25px 25px;
}

/* Explore Styling */
#explore {
    padding: 65px 50px 70px 50px;
}

#explore-cards {
    flex-wrap: nowrap;
    padding-top: 30px;
}

#explore-cards div {
    width: 25%;
}

#explore-cards div p {
    padding: 10px 0;
}

/* Userbase Styling */
#userbase {
    padding: 80px 50px 230px 50px;
    justify-content: space-between;
}

.userbase-left {
    flex-basis: 60%;
}

.userbase-right {
    display: flex;
    text-align: center;
    gap: 30px;
}

/* Footer Styling */
#footer hr {
	margin: 25px 0;
}

#footer a {
    background: var(--dark);
    color: var(--light);
}

#footer a:hover {
    text-decoration: underline;
}

.footer-section {
    padding-bottom: 10px;
}

#footer-links li {
	padding-right: 20px;
}

#footer-options li {
	padding-left: 20px;
}

#footer-options i {
	padding-right: 10px;
}

#footer-legal {
	justify-content: flex-start;
	padding: 20px 0;
}

#footer-legal li {
	padding-right: 20px;
}

/* Utilities Styling*/
.darkbg {
    background: var(--dark);
    color: var(--light);
}

.normalbg {
    background: var(--normal);
    color: var(--dark);
}

.lightbg {
    background: var(--light);
    color: var(--dark);
}

.specialbg {
    background: var(--highlight-alt);
    color: var(--dark);
}

.gradient-one {
    background: linear-gradient(45deg, var(--orange), var(--pink));
}

.gradient-two {
    background: linear-gradient(45deg, var(--red), var(--accent));
}

.btn {
    padding: 10px;
    border-radius: 40px;
}

.btn-alt {
    padding: 10px;
    border-radius: 40px;
}

.btn-alt:hover {
    background: var(--normal);
}

.alt-link {
    color: var(--accent);
}

.alt-link:hover {
    text-decoration: underline;
}

.flex-generic {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /*align-items: center;*/
}

.grid-generic {
    display: grid;
    gap: 15px;
}

.font-increased {
    font-size: 1.3rem;
}

.font-big {
    font-size: 2rem;
}

.font-bigger {
    font-size: 2.5rem;
}

.font-biggest {
    font-size: 3.5rem;
}

