/* Product Showcase Styling */

#showcase-grid {
    grid-template-columns: repeat(4, 1fr);
}

#showcase-motto {
    grid-column: span 4;
}

#showcase-main-panel {
    grid-area: span 2 / span 3;
    height: 600px;
    background: url("../images/remote.svg") center;
    color: var(--normal);
    background-size: cover;
}

.showcase-card {
    border-radius: 10px;
    flex-flow: column;
}


/* Product platforms (brains) styling */

#showcase-platforms {
    padding-right: 300px;
}

#showcase-platforms ul {
    justify-content: flex-start;
}

#showcase-platforms li {
    margin: 20px 12px 10px 0;
}


/* News Styling */

.news-stories {
    width: 33%;
}


/* Userbase Styling */

#userbase {
    /* padding: 80px 50px 230px 50px; */
    padding-top: 80px;
    padding-bottom: 230px;
}

#userbase-left {
    flex-basis: 60%;
}

#userbase-right {
    text-align: center;
    gap: 30px;
}


/*User-card Styling */

#user-card {
    margin-bottom: -367px;
    background: var(--accent);
    position: relative;
    top: -185px;
}

#user-card-controls {
    padding-top: 200px;
    padding-bottom: 40px;
}

#user-card img {
    width: 550px;
}

#user-card div p:nth-child(2) {
    font-weight: bold;
    padding-top: 40px;
}

.user-card-text {
    padding-right: 50px;
    align-self: center;
}


/* Testimonial Styling */

#testimonial-cards article {
    border: 1px solid var(--accent);
    width: 30%;
}


/* Explore Styling */

#explore-cards div {
    width: 25%;
}


/* Footer Styling */

#footer-legal {
    justify-content: flex-start;
}

#footer-legal li {
    padding-right: 20px;
}

#footer hr {
    margin: 25px 0;
}