/* Background colors */

.normalbg {
    background: var(--normal);
    color: var(--dark);
}

.darkbg {
    background: var(--dark);
    color: var(--light);
}

.lightbg {
    background: var(--light);
    color: var(--dark);
}

.specialbg {
    background: var(--highlight-alt);
    color: var(--dark);
}

.gradient-one {
    background: linear-gradient(45deg, var(--orange), var(--pink));
}

.gradient-two {
    background: linear-gradient(45deg, var(--red), var(--accent));
}


/* Borders */

.border-dark {
    border: 1px solid var(--dark);
}


/* Buttons */

.btn {
    padding: 10px;
    border-radius: 40px;
}


/* .btn-alt allows to change the hover on certain links */

.btn-alt {
    padding: 10px;
    border-radius: 40px;
    width: fit-content;
}

.btn-alt:hover {
    background: var(--normal);
}


/* Used in the gradient sections */

.btn-transparent {
    color: var(--light);
    border: 1px solid var(--light);
    border-radius: 40px;
    padding: 10px;
    width: fit-content;
}

.btn-transparent:hover {
    background-color: rgba(255, 255, 255, 0.1);
}


/* links */

.link {
    color: var(--accent);
}

.link:hover {
    text-decoration: underline;
}

.link-alt:hover {
    color: var(--highlight);
}

.link-line:hover {
    text-decoration: underline;
}


/* containers */

.content-container {
    max-width: 1200px;
    margin: auto;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.grid-container {
    display: grid;
    gap: 15px;
}


/* Padding and margins */

.m-20 {
    margin: 20px;
}

.ml-20 {
    margin-left: 20px;
}

.mr-20 {
    margin-right: 20px;
}

.pt-20 {
    padding-top: 20px;
}

.pb-20 {
    padding-bottom: 20px;
}


/* Images and logos */

.img-50 {
    width: 50px;
}

.img-120 {
    width: 120px;
}


/* fonts */

.font-reg {
    font-size: 1rem;
}

.font-13 {
    font-size: 1.3rem;
}

.font-20 {
    font-size: 2rem;
}

.font-25 {
    font-size: 2.5rem;
}

.font-45 {
    font-size: 4.5rem;
}